 body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to left, #9725c4, #300cb3);
    border: none;
    
}

table {
    width: 80%;
   
}

.titlemain {
    color: white;
    padding-left: 330px;
    background: linear-gradient(to left, #9725c4, #300cb3);
    padding: 10px;
    padding-right: 50px;
    border: 1px none white;
}

table {
    color: white;
    border-collapse: collapse;
    
}

table.list {
    color: white;
    width: 100%;
    
}

td, th {
    
    border: 3px solid #dddddd;
    border-radius: 4px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even), table.list thead>tr {
    background: linear-gradient(to left, #9725c4, #300cb3);
    color: white;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px;
    margin-left: 8px 0;
    border: 1px;
    border-radius: 4px; 
    cursor: pointer;
  
}

input[type=reset] {
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

form div.form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #fcfff7;
    margin-right: 4px;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
    color: white;
}
